{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <br>
    <img alt="UVic Logo" src="https://pbs.twimg.com/profile_images/663840484800901120/UnBWhPzn.jpg" style="width: 100px; display:block; margin:auto;">
    <h1 class="text-center">Order of Pi <br><small>Create New Pi Contract</small></h1>
    <div>
        <br><br>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2">

                <form method="post">
                    {% csrf_token %}
                    {{ contract_form|crispy }}
                    <div class="text-center">
                        <input class="btn btn-success" type="submit" value="Submit" />
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock content %}