{% extends 'base.html' %}

{% block content %}
    <br>
    <img alt="UVic Logo" src="https://pbs.twimg.com/profile_images/663840484800901120/UnBWhPzn.jpg" style="width: 100px; display:block; margin:auto;">
    <h1 class="text-center">Thanks for your charge submission!</h1>
    <div class="banner text-center">
        <h3>We will follow up with you by sending a confirmation email.</h3>
        <br>
        <a class="btn btn-success" href="{% url 'home' %}">Back home</a>
    </div>
{% endblock content %}