.banner {
    padding-top: 75px;
    padding-bottom: 75px;
}

.banner-light {
    background-color: #CFD7C7;
}

.banner-dark {
    background-color: #40798C;
}

.info-space {
    padding-top: 35px;
    padding-bottom: 35px;
}