.banner {
    padding-top: 75px;
    padding-bottom: 75px;
}

.banner-light {
    background-color: lightgray;
}

.banner-dark {
    background-color: gray;
}

.info-space {
    padding-top: 35px;
    padding-bottom: 35px;
}