<footer class="footer">
    <div class="container">
        <p class="text-muted"><i class="fa fa-pie-chart" aria-hidden="true"></i> Order of Pi</p>
        <p class="text-muted">
             •
            <a href="{% url 'create_contract' %}">Accuse</a> •
            <a href="{% url 'volunteer_signup' %}">Volunteer</a> •
            <a href="{% url 'about' %}">About</a> •
            <a href="{% url 'ranks' %}">Ranks</a> •
            <a href="{% url 'rules' %}">Rules</a> •
        </p>
    </div>
</footer>