{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <br>
    <img alt="UVic Logo" src="https://pbs.twimg.com/profile_images/663840484800901120/UnBWhPzn.jpg" style="width: 100px; display:block; margin:auto;">
    <h1 class="text-center">Order of Pi <br><small>Make Donation Payment</small></h1>
    <div class="info-space">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2">
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <h3>
                            <i class="fa fa-usd fa-3x" aria-hidden="true"></i><br>
                            Donation<br>
                            <small>${{ contract.indicated_value }}</small>
                        </h3>
                    </div>
                    <div class="col-xs-6 text-center">
                        <h3>
                            <i class="fa fa-user fa-3x" aria-hidden="true"></i><br>
                            Target<br>
                            <small>{{ contract.target }}</small>
                        </h3>
                    </div>
                </div>
                <br>
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <i class="fa fa-map-marker" style="margin-right: 5px" aria-hidden="true"></i> {{ contract.trial_date|date:"D d M Y, P" }} at {{ contract.trial_location }}
                    </div>
                </div>
                <br>
                <form action="{% url 'payments:checkout' %}" method="POST" >
                    {% csrf_token %}
                    <input type="hidden" name="contract_id" value="{{ contract_id }}"/>
                    <div class="text-center">
                        <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ stripe_key }}"
                                data-name="UVic Order of Pi"
                                data-description="Donation"
                                data-amount="{{ indicated_value }}"
                                data-allow-remember-me="false">
                        </script>
                        <a style="margin-left: 10px" href="{% url 'payments:pay_later' %}">Pay Later</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock content %}
