{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="info-space">
        <h1 class="text-center"><i class="fa fa-thumbs-up fa-3x" aria-hidden="true"></i><br>Thanks!</h1>
        <br>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2 text-center">
                <h3>Contract Saved! To pay come into the ESS before the trial date.</h3>
                <br>
                <a class="btn btn-success btn-lg" href="{% url 'home' %}">Back home</a>
            </div>
        </div>
    </div>
{% endblock content %}